---
import ContactMap from "../components/ContactMap.astro"
import Features from "../components/Features.astro"
import Heading from "../components/Heading.astro"
import Hero from "../components/Hero.astro"
import Navbar from "../components/Navbar.jsx"
import BrandSlider from "../components/Slider" 
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Website</title>
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
  </head>
  <body>
    <div>
      <Navbar client:visible />
      <div class="h-20 bg-black"></div>
    </div>
    <main>

      <BrandSlider client:visible/>
      <Hero />
      <Features />
      <Heading  />
      <ContactMap />
    </main>
  </body>
</html>